@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400&display=swap');

body {
  background-image:
    url('../assets/hana-kim-slRc0JDsMdk-unsplash.jpg'),
    linear-gradient(45deg, #f5f5dc 25%, transparent 25%),
    linear-gradient(-45deg, #f5f5dc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f5f5dc 75%),
    linear-gradient(-45deg, transparent 75%, #f5f5dc 75%);
  background-size: 100%;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  color: #4b2e2e;              
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.homeLinks {
  display: flex;
  align-items: center;
}

.homeLinks button {
  border: none;
  color: #000000;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.homeLinks button:hover {
  color: #fcfcfc;
}

.userMenu {
  position: relative;
}

.userMenu img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: linear-gradient(135deg, rgba(128, 162, 236, 0.850), rgba(238, 245, 218, 0.678));
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  z-index: 10;
}

.dropdown:hover {
  background-color: #000000;
}

.dropdown li {
  padding: 0.5rem 1rem;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  list-style-type: none;
}

.dropdown li:hover {
  color: white;
}

.loginOverlay {
  position: fixed;
  top: 20px;
  left: 150px;
  background: linear-gradient(135deg, rgba(128, 162, 236, 0.850), rgba(238, 245, 218, 0.678));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loginForm {
  background: rgba(255, 219, 88, 0);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 101;
}

.loginForm input {
  padding: 0.5rem;
  border: 1.5px solid #202238;
  border-radius: 9px;
  font-size: 1rem;
  width: 90%; 
} 

.loginForm button {
  display: block;
  padding: 5px;
  width: 90%;
  background: linear-gradient(135deg, rgba(128, 162, 236, 0.850), rgba(238, 245, 218, 0.678));
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 19px;
  transition: background-color 0.3s ease;
}

.loginForm button:hover {
  background-color: #000000;
  color: white;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 1rem;
  }

  .searchForm {
    margin: 1rem 0;
  }

  .homeLinks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .homeLinks button {
    margin: 0.5rem;
  }
}
