@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400&display=swap');

.properties {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.properties h1 {
  font-family: 'Poppins', cursive;
  font-weight: bolder;
  color: #000000; 
  margin-bottom: 2rem;
  font-size: 3rem; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(75, 46, 46, 0.1);
  line-height: 1.4; 
}

.properties button {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 16px;
  padding: 0.8em;
  color: black;
  background: linear-gradient(135deg,  rgba(128, 162, 236, 0.850),  rgba(238, 245, 218, 0.678));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.properties button:hover {
  background-color: #000000;
  color: #fff;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.property-card {
  background: linear-gradient(135deg,  rgba(128, 162, 236, 0.850),  rgba(238, 245, 218, 0.678));
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(75, 46, 46, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.property-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(75, 46, 46, 0.15);
}

.property-card h2 {
  font-family: 'Poppins', cursive;
  font-weight: bold;
  color: #000000; 
  margin-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  position: relative;
}

.property-card p {
  color: #000000; 
  margin-bottom: 1rem;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 1rem;
}

.property-card:hover h2 {
  color: #4b4848; 
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .properties {
    padding: 1rem;
  }

  .properties h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .properties button {
    font-size: 14px;
    padding: 0.6em;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .property-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .property-card {
    padding: 1rem;
  }

  .property-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .property-card p {
    font-size: 16px;
  }

  .property-card img {
    height: 150px;
  }
}
